<!-- Start Footer Area -->
<section class="footer-area pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="single-footer-widget">
          <div class="footer-logo">
            <h2><a href="index.html">Moneylend</a></h2>

            <p>Your comfort is our priority</p>

            <ul class="social">
              <li>
                <a href="#" class="facebook" target="_blank">
                  <i class='bx bxl-facebook'></i>
                </a>
              </li>
              <li>
                <a href="#" class="twitter" target="_blank">
                  <i class='bx bxl-twitter'></i>
                </a>
              </li>
              <li>
                <a href="#" class="pinterest" target="_blank">
                  <i class='bx bxl-instagram'></i>
                </a>
              </li>
              <li>
                <a href="#" class="linkedin" target="_blank">
                  <i class='bx bxl-linkedin'></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-footer-widget">
          <h3>Contact</h3>

          <ul class="footer-contact-info">
            <li>
              <i class='bx bxs-phone'></i>
              <span>Phone</span>
              <a href="tel:15147939-357">+(216) 20 555 000</a>
            </li>
            <li>
              <i class='bx bx-envelope'></i>
              <span>Email</span>
              <a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#0f676a6363604f636a796a216c6062"><span class="__cf_email__" data-cfemail="fe969b929291be929b889bd09d9193">[moneylend@esprit.tn]</span></a>
            </li>
            <li>
              <i class='bx bx-map'></i>
              <span>Address</span>
              Raoued, Ghazala 2083 <br> Tunis, TUNISIA
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-footer-widget pl-5">
          <h3>Services</h3>

          <ul class="quick-links">
            <li>
              <a href="#">Bank accounts</a>
            </li>
            <li>
              <a href="#">Savings</a>
            </li>
            <li>
              <a href="#">Credit cards</a>
            </li>
            <li>
              <a href="#">Loans</a>
            </li>
            <li>
              <a href="#">Car finance</a>
            </li>
            <li>
              <a href="#">Mobile banking</a>
            </li>
            <li>
              <a href="#">Online banking</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-footer-widget">
          <h3>Help & guidance</h3>

          <ul class="quick-links">
            <li>
              <a href="#">Privacy statement</a>
            </li>
            <li>
              <a href="#">Corporate information</a>
            </li>
            <li>
              <a href="#">Online banking help</a>
            </li>
            <li>
              <a href="#">Managing your money</a>
            </li>
            <li>
              <a href="#">Proving your identity</a>
            </li>
            <li>
              <a href="#">International banking</a>
            </li>
            <li>
              <a href="#">Help center</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Jquery Slim JS -->

</section>
<!-- End Footer Area -->
